<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Admin</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="add-side">
                <img src="../Images/map.jfif" alt="map" class="add">
                <video src="../Images/Corruption Perceptions Index from Transparency International.mp4" class="add" controls></video>
                <div class="add">
                    <h3>Fight corruption</h3>
                    <h3>Prevent dangers</h3>
                </div>
                <img src="../Images/greenAfroutline.png" alt="Africa">
            </div>
            <div class="all-issues">
                <h5 class="tabs">All Red-flags</h5>
                <table>                                               
                    <tbody>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened"><a href="../Html/adminRedflag.html">Jer Z</a></td>
                                    <td class="not-opened"><a href="../Html/adminRedflag.html">Corruption in work need to stop</a></td>
                                    <td class="not-opened"><a href="../Html/adminRedflag.html">>- Recently, I applied for job...</a</td>
                                    <td class="not-opened"><a href="../Html/adminRedflag.html">5:10 PM</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Teu R</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Arrested school director</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A primary school director...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">10:03 AM</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Fil A</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Corrupted police officers</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- Police officers are most corr...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Yesterday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Aba J</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">An employee tempted to give bribe</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A position raise seeker employee...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Yesterday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Car P</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Arrested bus driver</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A bus driver in the city was...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Tuesday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Far I</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">No more corruption campaign</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- Everyone is invited in campaign for...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Monday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Jer Z</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Corruption in work need to stop</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- Recently, I applied for job...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Monday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Teu R</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Arrested school director</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A primary school director...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Monday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Fil A</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Corrupted police officers</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- Police officers are most corr...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Nov 1, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Aba J</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">An employee tempted to give bribe</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A position raise seeker employee...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Nov 1, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Car P</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Arrested bus driver</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- A bus driver in the city was...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Oct 9, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminRedflag.html">Far I</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">No more corruption campaign</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">- Everyone is invited in campaign for...</a></td>
                                    <td class="opened"><a href="../Html/adminRedflag.html">Jun 3, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="tabs">All Interventions</h5>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">Jer Z</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">A broken bridge caused accidents</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">- There is a bridge that crossed...</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">5:05 PM</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="under-inv">
                                U
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Teu R</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nothing happened</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- I just need to remind people to be...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">9:23 AM</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">Fil A</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">Government need to help people</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">- Government needs to help citizens...</a></td>
                                    <td class="not-opened"><a href="../Html/adminIntervention.html">Yesterday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Jer Z</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Broken bridge</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- There is a bridge that crossed...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Tuesday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Teu R</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nothing happened</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- I just need to remind people to be...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Monday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Fil A</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Government need to help citizens</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- Government need to help citizens...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Sunday</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Jer Z</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">A broken bridge caused 5accidents.</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- There is a bridge that crossed...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nov 2, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Teu R</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nothing happened</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- I just need to remind people to be...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nov 2, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Fil A</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Government need to help people</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- Government needs to help citizens...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Nov 1, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened"><a href="../Html/adminIntervention.html">Jer Z</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Broken bridge</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">- There is a bridge that crossed...</a></td>
                                    <td class="opened"><a href="../Html/adminIntervention.html">Oct 1, 2019</a></td>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications<span class="upperscript">10</span></h4>
                    <p><a href="../Html/adminRedflag.html">Red-flags<span class="upperscript">1</span></a></p>
                    <p><a href="../Html/adminIntervention.html">Interventions<span class="upperscript">2</span></a></p>
                    <p><a href="">Ongoing red-flags<span class="upperscript">0</span></a></p>
                    <p><a href="">Ongoing interventions<span class="upperscript">1</span></a></p>
                    <p><a href="">Unreplied<span class="upperscript">3</span></a></p>
                    <hr>
                    <h4>Keys</h4>
                    <p class="under-inv">U : Under Investigation</p>
                    <p class="resolved">V : Resolved</p>
                    <p class="rejected">X : Rejected</p>
                    <p class="unreplied">- : Unreplied</p>
                    <p class="draft">-- : Unsent</p>
                    <hr>
                    <h4>Settings</h4>
                    <p><a href="../Html/redflag.html">Switch to user account</a></p>
                    <p><a href="../Html/red-interv.html">Profile</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
