<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Admin</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="add-side">
                <img src="../Images/map.jfif" alt="map" class="add">
                <video src="../Images/Corruption Perceptions Index from Transparency International.mp4" class="add" controls></video>
                <div class="add">
                    <h3>Fight corruption</h3>
                    <h3>Prevent dangers</h3>
                </div>
                <img src="../Images/greenAfroutline.png" alt="Africa">
            </div>
            <div class="all-issues">
                <h5 class="tabs">All Red-flags</h5>
                <table>                                               
                    <tbody>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened">Jer Z</td>
                                    <td class="not-opened">Corruption in work need to stop</td>
                                    <td class="not-opened">- Recently, I applied for job...</td>
                                    <td class="not-opened">5:10 PM</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Teu R</td>
                                    <td class="opened">Arrested school director</td>
                                    <td class="opened">- A primary school director...</td>
                                    <td class="opened">10:03 AM</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Fil A</td>
                                    <td class="opened">Corrupted police officers</td>
                                    <td class="opened">- Police officers are most corr...</td>
                                    <td class="opened">Yesterday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Aba J</td>
                                    <td class="opened">An employee tempted to give bribe</td>
                                    <td class="opened">- A position raise seeker employee...</td>
                                    <td class="opened">Yesterday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Car P</td>
                                    <td class="opened">Arrested bus driver</td>
                                    <td class="opened">- A bus driver in the city was...</td>
                                    <td class="opened">Tuesday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Far I</td>
                                    <td class="opened">No more corruption campaign</td>
                                    <td class="opened">- Everyone is invited in campaign for...</td>
                                    <td class="opened">Monday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Jer Z</td>
                                    <td class="opened">Corruption in work need to stop</td>
                                    <td class="opened">- Recently, I applied for job...</td>
                                    <td class="opened">Monday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Teu R</td>
                                    <td class="opened">Arrested school director</td>
                                    <td class="opened">- A primary school director...</td>
                                    <td class="opened">Monday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Fil A</td>
                                    <td class="opened">Corrupted police officers</td>
                                    <td class="opened">- Police officers are most corr...</td>
                                    <td class="opened">Nov 1, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Aba J</td>
                                    <td class="opened">An employee tempted to give bribe</td>
                                    <td class="opened">- A position raise seeker employee...</td>
                                    <td class="opened">Nov 1, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Car P</td>
                                    <td class="opened">Arrested bus driver</td>
                                    <td class="opened">- A bus driver in the city was...</td>
                                    <td class="opened">Oct 9, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Far I</td>
                                    <td class="opened">No more corruption campaign</td>
                                    <td class="opened">- Everyone is invited in campaign for...</td>
                                    <td class="opened">Jun 3, 2019</td>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="tabs">All Interventions</h5>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened">Jer Z</td>
                                    <td class="not-opened">A broken bridge caused accidents</td>
                                    <td class="not-opened">- There is a bridge that crossed...</td>
                                    <td class="not-opened">5:05 PM</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="under-inv">
                                U
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Teu R</td>
                                    <td class="opened">Nothing happened</td>
                                    <td class="opened">- I just need to remind people to be...</td>
                                    <td class="opened">9:23 AM</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <td>
                                    <input type="checkbox" class="not-opened">
                                </td>
                                <div class="desc not-opened">
                                    <td class="not-opened">Fil A</td>
                                    <td class="not-opened">Government need to help people</td>
                                    <td class="not-opened">- Government needs to help citizens...</td>
                                    <td class="not-opened">Yesterday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Jer Z</td>
                                    <td class="opened">Broken bridge</td>
                                    <td class="opened">- There is a bridge that crossed...</td>
                                    <td class="opened">Tuesday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Teu R</td>
                                    <td class="opened">Nothing happened</td>
                                    <td class="opened">- I just need to remind people to be...</td>
                                    <td class="opened">Monday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Fil A</td>
                                    <td class="opened">Government need to help citizens</td>
                                    <td class="opened">- Government need to help citizens...</td>
                                    <td class="opened">Sunday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="unreplied">
                                -
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Jer Z</td>
                                    <td class="opened">A broken bridge caused 5accidents.</td>
                                    <td class="opened">- There is a bridge that crossed...</td>
                                    <td class="opened">Nov 2, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="rejected">
                                X
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Teu R</td>
                                    <td class="opened">Nothing happened</td>
                                    <td class="opened">- I just need to remind people to be...</td>
                                    <td class="opened">Nov 2, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Fil A</td>
                                    <td class="opened">Government need to help people</td>
                                    <td class="opened">- Government needs to help citizens...</td>
                                    <td class="opened">Nov 1, 2019</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="resolved">
                                V
                                <td>
                                    <input type="checkbox" class="opened">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Jer Z</td>
                                    <td class="opened">Broken bridge</td>
                                    <td class="opened">- There is a bridge that crossed...</td>
                                    <td class="opened">Oct 1, 2019</td>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="tabs">Drafts</h5>
                <table>
                    <tbody>
                        <tr>
                            <td class="draft">
                                --
                                <td>
                                    <input type="checkbox" class="int">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Admi</td>
                                    <td class="opened">Never Never Ever damage A Bridge</td>
                                    <td class="opened">- This is message for all people to kn...</td>
                                    <td class="opened">3:20 PM</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="draft">
                                --
                                <td>
                                    <input type="checkbox" class="red">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Admi</td>
                                    <td class="opened">Never Never Ever allow corruption!</td>
                                    <td class="opened">- This is message for all people to kn...</td>
                                    <td class="opened">Sunday</td>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="draft">
                                --
                                <td>
                                    <input type="checkbox" class="int">
                                </td>
                                <div class="desc opened">
                                    <td class="opened">Admi</td>
                                    <td class="opened">Never Never Ever drive drunk!</td>
                                    <td class="opened">- This is message for all people to kn...</td>
                                    <td class="opened">Nov 1, 2019</td>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications<span class="upperscript">10</span></h4>
                    <p><a href="../Html/redflag.html">Red-flags<span class="upperscript">1</span></a></p>
                    <p><a href="../Html/intervention.html">Interventions<span class="upperscript">2</span></a></p>
                    <p><a href="">Ongoing red-flags<span class="upperscript">0</span></a></p>
                    <p><a href="">Ongoing interventions<span class="upperscript">1</span></a></p>
                    <p><a href="">Unreplied<span class="upperscript">3</span></a></p>
                    <p><a href="">Drafts<span class="upperscript">3</span></a></p>
                    <p><a href="">Sent<span class="upperscript">5</span></a></p>
                    <hr>
                    <h4>Keys</h4>
                    <p class="under-inv">U : Under Investigation</p>
                    <p class="resolved">V : Resolved</p>
                    <p class="rejected">X : Rejected</p>
                    <p class="unreplied">- : Unreplied</p>
                    <p class="draft">-- : Unsent</p>
                    <hr>
                    <h4>Settings</h4>
                    <p><a href="../Html/redflag.html">Switch to user account</a></p>
                    <p><a href="../Html/red-interv.html">Profile</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
