<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Home</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h2 class="broadcaster-logo">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/signin.html" class="signin">Sign in</a>
                <a href="../Html/signup.html" class="signup">Join</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="section one">
            <h1 class="section one text">Contribute to your continent development.</h1>
            <img src="../Images/afroutline.png" alt="Africa">
        </div>
        <div class="section two">
            <div class="section two recent">
                <h3>Read recent posts</h3>
                <div class="recent redflag">
                    <div class="redflag content">
                        <img src="../Images/justice.jfif" alt="A Redflag" class="broad">
                        <div class="redflag description broad">
                            <h4 class="title">A wealthy businessman caught offering bribe to drop taxes</h4>
                            <p>A wealthy businessman caught offering bribe to drop taxes. This man has run his business for over 10 years not paying taxes and fees...<a href="">(more)</a></p>
                            <div class="tags">
                                <h6>Nov 10, 2019 | Rek Uri</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent intervention">
                    <div class="intervention content">
                        <img src="../Images/repair.jfif" alt="An intervention" class="broad">
                        <div class="intervention description broad">
                            <h4 class="title">Damaged road in Nowhere needs rebuild.</h4>
                            <p>Due to flooding, the road joining A and B broke. It caused accidents where 10 trucks, 5 cars extremely damaged, and loss of lives to 20 people...<a href="">(more)</a></p>
                            <div class="tags">
                                <h6>Nov 10, 2019 | Mak Uri</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section three">
            <div class="section three redflag">
                <div class="broad redf">
                    <h3>Want the best for your continent? Never keep quiet when notice corruption.</h3>
                    <a href="../Html/signin.html" class="link">Post redflag</a>
                </div>
                <img src="../Images/redflag.jfif" alt="RedFlag" class="broad">
            </div>
            <hr>
            <div class="section three intervention">
                <img src="../Images/reparation.jfif" alt="intervention" class="broad">
                <div class="interve broad">
                    <h3>Report dangers and let the government intervene.</h3>
                    <a href="../Html/signin.html" class="link">Post intervention</a>
                </div>
            </div>
        </div>
        <div class="section four">
            <div class="section four map tool">
                <iframe class="add" src="https://maps.google.co.uk?output=embed" frameborder="0"></iframe>
                <h3>Can use map</h3>
            </div>
            <div class="section four images tool">
                <img class="add" src="../Images/infrasdamage.jfif" alt="Damaged_infrastructure">
                <h3>Can use images</h3>
            </div>
            <div class="section four video tool">
                <video class="add" src="../Images/Corruption Perceptions Index from Transparency International.mp4" controls></video>
                <h3>Can use videos</h3>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="menus">
            <ul class="connection">
                <li><h4>Connect with us</h4></li>
                <li><a href="home.html">Twitter</a></li>
                <li><a href="home.html">Youtube</a></li>
            </ul>
            <ul class="general">
                <li><h4>General</h4></li>
                <li><a href="../Html/signup.html">Sign Up</a></li>
                <li><a href="">Ask help</a></li>
            </ul>
            <ul class="other_links">
                <li><h4>Other Links</h4></li>
                <li><a href="">About</a></li>
                <li><a href="../Html/signin.html">Profile</a></li>
            </ul>
        </div>
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>