<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Red-flag</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="sidebar">
                <div><h6><a href="">+ map</a></h6></div>
                <div><h6><a href="">+ Video</a></h6></div>
                <div><h6><a href="">+ Image</a></h6></div>
            </div>
            <div class="compose">
                <div class="new">
                    <span>A Red-flag</span>
                    <div class="rf-form">
                        <form action="">
                            <div><h1 class="title">No development in presence of corruption</h1></div>
                            <hr>
                            <div><textarea>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium harum aliquam corrupti est nulla nam. Ratione quod sequi quasi ipsum voluptas harum illum? Aliquam quia vitae non amet laboriosam quisquam!

                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat dolorem in eum asperiores atque, rerum sequi cupiditate voluptatibus sapiente nobis pariatur veniam cumque cum delectus reiciendis, quisquam veritatis fugit ab.

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem veniam enim, sequi harum libero nisi accusamus facilis commodi! Consectetur repudiandae natus accusamus sapiente qui rem nam similique delectus fugit doloribus!

                            </textarea></div>
                            <div class="gadgets">
                                <h6>Insert map, video or image<input type="file" multiple></h6>
                            </div>
                            <div class="buttons">
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications<span class="upperscript">8</span></h4>
                    <p><a href="../Html/red-interv.html">Red-flags<span class="upperscript">5</span></a></p>
                    <p><a href="../Html/red-interv.html">Interventions<span class="upperscript">3</span></a></p>
                </div>
                <hr>
                <div class="recommend">
                    <h4>What to do</h4>
                    <p><a href="../Html/red-interv.html">Profile</a></p>
                    <p><a href="../Html/preview-red.html">View red-flag</a></p>
                    <p><a href="../Html/redflag.html">Create red-flag</a></p>
                    <p><a href="../Html/deleted.html">Delete red-flag</a></p>
                    <p><a href="../Html/preview-int.html">View intervention</a></p>
                    <p><a href="../Html/intervention.html">Create intervention</a></p>
                    <p><a href="../Html/deleted.html">Delete intervention</a></p>
                </div>
                <hr>
                <div class="recommend">
                    <h4>Recommended</h4>
                    <p><a href="">No corruption or danger...</a></p>
                    <p><a href="">Africa development...</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>