<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Red-flags/Interventions</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="add-side">
                <img src="../Images/map.jfif" alt="map" class="add">
                <video src="../Images/Corruption Perceptions Index from Transparency International.mp4" class="add" controls></video>
                <div class="add">
                    <h3>Fight corruption</h3>
                    <h3>Prevent dangers</h3>
                </div>
                <img src="../Images/greenAfroutline.png" alt="Africa">
            </div>
            <div class="lists">
                <h1>View All Red-flags and Interventions</h1>
                <table class="user-ri-table">
                    <tbody>
                        <tr>
                            <th>No</th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Red-flag</td>
                            <td>We shouldn't speak, we should act!</td>
                            <td>- The more we speak to reduce corruption...</td>
                            <td>Nov 1, 2019</td>
                            <td class="resolved">Resolved</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Red-flag</td>
                            <td>Participate in no corruption campaign.</td>
                            <td>- You are invited in the "No corruption"...</td>
                            <td>Nov 1, 2019</td>
                            <td class="resolved">Resolved</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Intervention</td>
                            <td>We repaired road in Umuganda.</td>
                            <td>- Last Saturday, we repaired a road in...</td>
                            <td>Nov 1, 2019</td>
                            <td class="resolved">Resolved</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Red-flag</td>
                            <td>We shouldn't speak, we should act!</td>
                            <td>- The more we speak to reduce corruption...</td>
                            <td>Nov 1, 2019</td>
                            <td class="rejected">Rejected</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Red-flag</td>
                            <td>Participate in no corruption campaign.</td>
                            <td>- You are invited in the "No corruption"...</td>
                            <td>Nov 1, 2019</td>
                            <td class="under-inv">Under-I</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Intervention</td>
                            <td>We repaired road in Umuganda.</td>
                            <td>- Last Saturday, we repaired a road in...</td>
                            <td>Nov 1, 2019</td>
                            <td class="rejected">Rejected</td>
                        </tr>
                    </tbody>
                </table>
                <div class="summary">
                    <h3>Summary</h3>
                    <ul>
                        <li>2 Resolved red-flags</li>
                        <li>1 Resolved intervention</li>
                        <li>1 Rejected red-flag</li>
                        <li>1 Under investigation redflag</li>
                        <li>1 Rejected intervention</li>
                    </ul>
                </div>                
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications</h4>
                    <p><a href="../Html/red-interv.html">Red-flags</a></p>
                    <p><a href="../Html/red-interv.html">Interventions</a></p>
                </div>
                <hr>
                <div class="recommend">
                    <h4>What to do</h4>
                    <p><a href="red-interv.html">Profile</a></p>
                    <p><a href="../Html/preview-red.html">View red-flag</a></p>
                    <p><a href="../Html/redflag.html">Create red-flag</a></p>
                    <p><a href="../Html/deleted.html">Delete red-flag</a></p>
                    <p><a href="../Html/preview-int.html">View intervention</a></p>
                    <p><a href="../Html/intervention.html">Create intervention</a></p>
                    <p><a href="../Html/deleted.html">Delete intervention</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
