<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | SignIn</title>
    <link rel="stylesheet" href="../Css/allStyles.css">    
</head>
<body>
    <header class="header">
        <div class="logo">
            <h2 class="broadcaster-logo">
                Broadcaster
            </h2>
        </div>
    </header>    
    <section class="section">
        <div class="note">
            <h1>Welcome back</h1>
            <p>Don't allow missing any update. Login to proceed</p>
        </div>
        <div class="sign-form">
            <form action="../Html/admin.html" class="form">
                <input type="text" name="username" id="username" placeholder="email or phone">
                <input type="password" name="password" id="password" placeholder="8char password">
                <button class="submit">Sign in</button>
                <h6>Don't have an account yet? <a href="../Html/signup.html">Join</a></h5>
            </form>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>