<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | SignUp</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h2 class="broadcaster-logo">
                Broadcaster
            </h2>
        </div>
    </header>
    <section class="section">
        <div class="note">
            <h1>First step to start</h1>
            <p>Make a better move to develop your continent by signing up.</p>
        </div>
        <div class="sign-form">
            <form action="" class="form">
                <input type="text" name="firstname" id="firstname" placeholder="firstname">
                <input type="text" name="lastname" id="lastname" placeholder="lastname">
                <input type="text" name="username" id="username" placeholder="email or phone">
                <input type="password" name="password" id="password" placeholder="8char password">
                <p class="agree">By clicking <span>Join</span> button you will have agreed to our terms of condition and privacy policy.</p>
                <button class="submit">Join</button>
                <h6>Already have an account? <a href="../Html/signin.html">Sign in</a></h6>
            </form>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>