<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Intervention</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="compose">
                <div class="new">
                    <span>An Intervention</span>
                    <div class="rf-form">
                        <form action="">
                            <div><h1 class="title">We need to build new road</h1></div>
                            <hr>
                            <div class="description">
                                <br>
                                <img src="../Images/infrdamage.jfif" alt="An intervention" class="description proof">
                                <br>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, reiciendis. Id error consequatur natus, nihil neque omnis corporis dicta, ipsa magni rerum repudiandae! Tempora laudantium optio odit, fuga quia quidem.</p>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem culpa deserunt incidunt cum sunt, eligendi expedita sint quis dolores repellat tempore minus suscipit veritatis. Delectus provident sint neque dolorum?</p>
                                <br>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis porro qui non, accusantium eos iure. Iste cupiditate recusandae, vitae molestiae temporibus possimus sint, officia reiciendis, voluptatum consequuntur aperiam libero numquam?</p>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa vero quisquam repellendus dolore voluptatem similique, laborum nam ipsum non rerum necessitatibus porro ullam perspiciatis! Suscipit consectetur nobis sequi earum?</p>
                                <br>
                                <span class="status rejected">Rejected</span>
                             </div>                            
                            <div class="buttons">
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications<span class="upperscript">8</span></h4>
                    <p><a href="../Html/specificRedflag.html">Red-flags<span class="upperscript">5</span></a></p>
                    <p><a href="../Html/specificIntervention.html">Interventions<span class="upperscript">3</span></a></p>
                </div>
                <hr>
                <div class="recommend">
                    <h4>What to do</h4>
                    <p><a href="../Html/red-interv.html">Profile</a></p>
                    <p><a href="../Html/preview-red.html">View red-flag</a></p>
                    <p><a href="../Html/redflag.html">Create red-flag</a></p>
                    <p><a href="../Html/deleted.html">Delete red-flag</a></p>
                    <p><a href="../Html/preview-int.html">Edit intervention</a></p>
                    <p><a href="../Html/intervention.html">Create intervention</a></p>
                    <p><a href="../Html/deleted.html">Delete intervention</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>