<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster | Red-flag</title>
    <link rel="stylesheet" href="../Css/allStyles.css">
</head>
<body>
    <header class="header color-change">
        <div class="logo">
            <h2 class="broadcaster-logo color-change">
                Broadcaster
            </h2>
        </div>
        <div class="navig">
            <p class="navig links">
                <a href="../Html/home.html" class="signout">Sign out</a>
            </p>
        </div>
    </header>
    <section class="section">
        <div class="bl-space">
            <div class="compose">
                <div class="new">
                    <span>A Red-flag</span>
                    <div class="rf-form">
                        <form action="">
                            <div><h1 class="title">No development in presence of corruption</h1></div>
                            <hr>
                            <div class="description">
                                <br>
                                <img src="../Images/redflagO.jfif" alt="A redflag" class="description proof">
                                <br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium harum aliquam corrupti est nulla nam. Ratione quod sequi quasi ipsum voluptas harum illum? Aliquam quia vitae non amet laboriosam quisquam!</p>
                                <br>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat dolorem in eum asperiores atque, rerum sequi cupiditate voluptatibus sapiente nobis pariatur veniam cumque cum delectus reiciendis, quisquam veritatis fugit ab.</p>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem veniam enim, sequi harum libero nisi accusamus facilis commodi! Consectetur repudiandae natus accusamus sapiente qui rem nam similique delectus fugit doloribus!</p>                                                         
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quidem accusantium doloremque numquam asperiores autem amet ut cupiditate magnam, a voluptatum ad, quasi doloribus aspernatur iste iure unde ratione. Maiores.</p>
                                <br>
                                <span class="status resolved">Resolved</span>
                            </div>
                            <div class="buttons">
                                <button>Edit</button>
                                <button>Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="side-right">
                <div class="notif">
                    <h4>Notifications<span class="upperscript">8</span></h4>
                    <p><a href="../Html/specificRedflag.html">Red-flags<span class="upperscript">5</span></a></p>
                    <p><a href="../Html/specificIntervention.html">Interventions<span class="upperscript">3</span></a></p>
                </div>
                <hr>
                <div class="recommend">
                    <h4>What to do</h4>
                    <p><a href="../Html/red-interv.html">Profile</a></p>
                    <p><a href="../Html/preview-red.html">View red-flag</a></p>
                    <p><a href="../Html/redflag.html">Create red-flag</a></p>
                    <p><a href="../Html/deleted.html">Delete red-flag</a></p>
                    <p><a href="../Html/preview-int.html">View intervention</a></p>
                    <p><a href="../Html/intervention.html">Create intervention</a></p>
                    <p><a href="../Html/deleted.html">Delete intervention</a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <hr>
        <div class="copy">
            <ul>
                <li>Copyright, 2019</li>
                <li><a href="home.html">Broadcaster</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>